*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 43, 43);
  font-family: sans-serif;
}

header a, footer a, header, footer {
  text-decoration: none;
  color: rgb(231 231 231);
}

ul{
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

nav a{
  margin-right: 10px;
  
}

nav a:nth-child(3){
  margin-right: 0px;

}










/* * HEADER /////////////////////////////////////////////////////////////////// */
header{
  background-color: hsl(24.71deg 100% 50%);
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;  
  
  position: relative;
  
}

.top_bar {
  background-color: hsl(24.71deg 100% 50%);
  width: 100%;
  height: 56px;
  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
  
  flex-wrap: wrap;

  position: fixed;
}


.logo{
  width: 160px;
  height: 35px;
}




/* * MAIN ///////////////////////////////////////////////////////////////////*/
main{
  margin-top: 20px;

  min-height: 920px;
  width: 80%;

  display: flex;

  flex-wrap: wrap;

}

.card{
  min-height: 500px;
  min-width: 290px;

  margin: 20px;
  
  border: 2px red solid;
  
  position: relative;

  /* z-index: 1000; */
}

main img{
  width: 290px;
  height: 420px;

  border: 1px rgb(0, 255, 0) solid;

  position: absolute;
  top: 0;
  left: 0; 
  /* object-fit: cover; */

}



.card img:nth-child(2) {
  display: none;
}

.card:hover img:nth-child(2) {
  display: block;
}

.description_product{
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 1%;

  border: 1px rgb(0, 255, 0) solid;

}

.container_discount{
  height: 28px;
  width: 48px;


  
  background-color: red;
  color: white;
  font-weight: 700;
  padding: 5px;

  position: absolute;
  right: 0%;
  top: 73%;
  left: 0%;
  bottom: 0%;



  
}

.container_green{
  height: 28px;
  width: 108px;
  
  
  background-color: green;
  color: white;
  font-weight: 700;
  padding: 5px;

  text-align: center;
  vertical-align: middle;

  /* display: inline-block; */

  position: absolute;
  right: 0%;
  top: 73%;
  left: 18%;
  bottom: 0%;
}


.brand{
  
  
}

.name_product{

  font-weight: bold;
  text-transform: uppercase;
}


.price{
  /* width: 62px;
  height: 30px; */

  
  color: red;
  padding: 5px;
  padding-left: 0;

  display: inline-block;
}


.old_price{
  /* width: 62px;
  height: 30px; */

  
  text-decoration: line-through;
  padding: 5px;

}


.container_heart{
  width: 40px;
  height: 40px;
  
  background-color: white;
  padding: 5px;
  text-align: center;
  vertical-align: middle;

  position: absolute;
  right: 0%;
  top: 2%;
  /* left: 20%; */
  bottom: 0%;
  border: 1px red solid;
  
  
  /* z-index: 999; */
}

.heart{
  width: 40px;
  height: 40px;

  padding: 5px;
  text-align: center;
  vertical-align: middle;

  position: absolute;
  right: 0%;
  top: 2%;
  /* left: 20%; */
  bottom: 0%;
  /* z-index: 1; */

  font-size: 30px;
  color: rgb(0, 0, 0);
  
  border: 1px rgb(0, 255, 0) solid;
  /* display: none; */
  
  /* display: block; */
  
  /* z-index: 998; */
  
}

.container_heart:hover .heart {
  color: red;
  /* display: block; */
  /* z-index: 999; */
}







/* * FOOTER ///////////////////////////////////////////////////////////////////*/
footer{
  background-color: hsl(0deg 0% 10.2%);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: small;
}

.bottom_bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  line-height: 30px;
}

footer .description_social{
  margin-right: 20px;
}

footer .col .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.fa-brands{
  font-size: 20px;
}






























